<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092006366982-g4uc1084cotct8e2sb42klpov3k296ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092006366982-g4uc1084cotct8e2sb42klpov3k296ih</string>
	<key>API_KEY</key>
	<string>AIzaSyDBQY-LDAZeG_o3CWLfVNVTgmNrUFCJaeM</string>
	<key>GCM_SENDER_ID</key>
	<string>1092006366982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.sandeepkumar.comms</string>
	<key>PROJECT_ID</key>
	<string>comms-10c29</string>
	<key>STORAGE_BUCKET</key>
	<string>comms-10c29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092006366982:ios:7a9a6c099581c7abf01887</string>
</dict>
</plist>